.load-screen{
    background: #FF9BBF;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@keyframes jump {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(50px)
    }
    100%{
        transform: translateY(0px)
    }
    
}