html{
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

                        
                         
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;

  font-family: 'Nunito', sans-serif;

  overflow-x: hidden;

}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes floating-animation {
  



  from {
    transform: translateY(-25px);

  }

  50% {
    transform: translateY(25px);

  }

  to {
    transform: translateY(-25px);
  
  }
}

h1{
  margin: none;
  padding: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

h2{
  margin: none;
  padding: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

h3{
  margin: none;
  padding: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

h4{
  margin: none;
  padding: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

h5{
  margin: none;
  padding: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

p{
  margin: none;
  padding: none;
  margin-block-end: 0;
  margin-block-start: 0;
}

